body{

    background-color: black;
}
.center
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 120px;
    
}
button{
    border-radius: 50%;
    border-color: white;
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 0px 60px;
}
.divbutton1{
 margin-top: 90px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 0%;
 
}
.divbutton2{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
button:active{
    background-color: rgba(9, 225, 106, 0.893);
}
p.a{
    color: white;
    padding: 0px 40px;
    word-spacing: 2cm;
    margin-top: 10px;
}
.text1{
    display:inline-flex;
    justify-content: center;
    align-items: center;
   
    margin: 0px 0px 20px 0px;
}

p.b{
    color: white;
    padding: 0px 60px 0px 10px;
    word-spacing: 2cm;margin-top: 10px;
}
p.c{
    color: white;
    padding: 0px 40px 0px 40px;
    word-spacing: 2cm;margin-top: 10px;
}
p.d{
    color: white;
    padding: 0px 30px 0px 70px;
    word-spacing: 2cm;margin-top: 10px;

}